<div class="service">
  <table class="service__table">
    <caption class="service__table_title">Услуг</caption>
    <tbody>
      <tr>
       <td class="service__table_line"></td>
       <td class="service__table_line"></td>
      </tr>
      </tbody>
      <tbody class="service__table_border-left">
      <tr>
       <td class="service__table_item">
         <span class="service__text">Ручное бронирование</span>
         <div class="service__font service__font_booking"></div>
       </td>
       <td class="service__num">11</td>
      </tr>
      <tr>
       <td class="service__table_item">
         <span class="service__text">Пакетные туры</span>
          <div class="service__font service__font_tours"></div>
        </td>
        <td class="service__num">3</td>
      </tr>
      <tr>
        <td class="service__table_item">
          <span class="service__text">Отели</span>
          <div class="service__font service__font_hotels"></div>
        </td>
        <td class="service__num">1</td>
      </tr>
      </tbody>
      <tbody class="service__table_body">
      <tr>
        <td class="service__table_item service__table_padd-top">
          <span class="service__text service__text_all">Всего</span>
          <div class="service__table_line"></div>
        </td>
        <td class="service__table_item service__table_padd-top">
          <div class="service__num service__num_all">15</div>
          <div class="service__table_line"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>